<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="rule 1A" stopProcessing="true">
                    <match url="^api/users/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/users.php"  />
                </rule>
                <rule name="rule 2A" stopProcessing="true">
                <match url="^api/users/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/users.php?userid={R:1}"  />
                </rule>
                <rule name="rule 3A" stopProcessing="true">
                    <match url="^api/emails/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/emails.php"  />
                </rule>
                <rule name="rule 4A" stopProcessing="true">
                <match url="^api/emails/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/emails.php?lastname={R:1}"  />
                </rule>
                <rule name="rule 5A" stopProcessing="true">
                    <match url="^api/courses/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/courses.php"  />
                </rule>
                <rule name="rule 6A" stopProcessing="true">
                <match url="^api/courses/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
                    <action type="Rewrite" url="/api/courses.php?coursecode={R:1}"  />
                </rule>
                </rules>
        </rewrite>
    </system.webServer>
</configuration>